/* текст заголовков h2, h3, списка nav,  #212121 */
/* подписи под заголовками, верхний телефон 
и емейл, профессия #757575 */
/* Цвет конопок, вспомогательный цвет  #ffffff */
/* основной синий цвет, для ховерка и фокуса  #2196f3 */

/* Project fonts */
/* font-family: Roboto;
font-style: normal;
font-weight: 500;

font-family: Roboto;
font-style: normal;
font-weight: 900;

font-family: Roboto;
font-style: normal;
font-weight: 700;

font-family: Roboto;
font-style: normal;
font-weight: 400;

font-family: Raleway;
font-style: normal;
font-weight: 700; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --main-blue-color: #2196f3;
  --second-blue-color: #188ce8;

  --bg-main-color: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --bg-third-color: #ffffff;
  --bg-forth-color: #e5e5e5;
  --bg-card-color: #ffffff;

  --border-main-color: #eeeeee;
  --border-header-color: #ececec;

  --main-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;

  --icon-main-color: #afb1b8;

  --transition-timing-formula: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

/* *for all page  */
body {
  font-family: var(--main-font-family);
}

h2,
h3 {
  color: var(--primary-text-color);
}

/* *main container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* *Спрятать текст h2/h1 (не работает в геометрии), но оставить его для читалок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* !header */
/* *Flex items for header */
.header {
  border-bottom: 1px solid var(--border-header-color);
  background: var(--bg-third-color);
}

.nav-flex {
  display: flex;
  align-items: center;
}

.header-flex {
  display: flex;
  align-items: center;
}

/* ?Logo */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .web {
  color: var(--main-blue-color);
}

.logo .studio-black {
  color: var(--primary-text-color);
}
/* ?CLOSED Logo */

/* ?nav-list */
.nav-list {
  display: flex;
  margin-top: 0;
  margin-left: 93px;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav-list > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;

  /* position */
  position: relative;

  /* Переход CSS */
  transition: color var(--transition-duration) var(--transition-timing-formula);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--main-blue-color);
}

/* active page */
.nav-list .link.active {
  color: var(--main-blue-color);
}

/* *position (after) for active link*/
.nav-list .link.active:after {
  /* position */
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  content: '';
  height: 4px;
  width: 100%;

  border-radius: 2px;
  background: #2196f3;
}
/* ?CLOSED nav-list */

/* ?contacts info */
.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /* для заполнeния svg */
  fill: var(--secondary-text-color);

  /* Переход CSS */
  transition: color var(--transition-duration) var(--transition-timing-formula),
    fill var(--transition-duration) var(--transition-timing-formula);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--main-blue-color);
  fill: var(--main-blue-color);
}

.contacts .link:not(:last-child) {
  margin-right: 30px;
}

/* Оформляем svg */
.contacts-icon {
  margin-right: 10px;
}

/* !CLOSED contacts info */
/* !CLOSED header */

/* !main part */
/* !hero */
.hero {
  text-align: center;
}

.hero-container {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;

  background-color: var(--bg-main-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/main-bg.jpg');
  background-position: center;
}

.hero .title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--third-text-color);
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .open-btn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-color: transparent;
  border-radius: 4px;

  background-color: var(--main-blue-color);
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/* *modal window */
.backdrop {
  /* Position */
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* Чтобы модальное окно было выше других эллементов страницы */
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);

  /* При появлении backdrop, фон появляется плавно */
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-formula);
}

.backdrop.is-hidden {
  opacity: 0;

  /* чтобы пропадала подложка backdrop*/
  pointer-events: none;
}

/* *При выключенном backdrop, свойства modal такие */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

/* *Modal активное */
.modal {
  /* Position */
  /* Центрируем */
  position: absolute;
  top: 50%;
  left: 50%;

  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-formula);

  width: 528px;
  height: 581px;

  background: var(--bg-card-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Кнопка закрытия модалки */
.modal .closed-btn {
  /* Position относительно .modal */
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: var(--bg-card-color);
}

.modal .closed-svg {
  /* Position Позиционируем по центру относительно круга (.closed-btn)*/
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  transition: fill var(--transition-duration) var(--transition-timing-formula);
}

.modal .closed-btn:hover .closed-svg,
.modal .closed-btn:focus .closed-svg {
  fill: var(--main-blue-color);
}

/* Form для модального окна */
.backdrop .modal-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* для первых трех input  */
.form-block {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
}

/* для блока textarea */
.form-textarea {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label,
.label-comment {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-svg {
  position: absolute;
  top: 50%;
  left: 12px;

  /* Чтобы можно было нажать поверх svg icon */
  pointer-events: none;
}

/* при фокусе на input (и при набраном тексте) происходит смена цвета svg */
.form-input:focus + .form-svg,
.form-input:not(:placeholder-shown) + .form-svg {
  fill: var(--main-blue-color);
}

/* при фокусе на input (и при набраном тексте) происходит смена цвета рамки */
.form-input:focus,
.form-input:not(:placeholder-shown) {
  outline: none;
  border-color: var(--main-blue-color);
}

.form-textarea textarea {
  resize: none;
  width: 100%;
  height: 120px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-textarea .label-placeholder {
  position: absolute;
  top: 32px;
  left: 17px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Когда textarea в фокусе и набран текст (т.е. нет placeholder), то рамка становится синей  */
.form-textarea textarea:focus,
.form-textarea textarea:not(:placeholder-shown) {
  outline: none;
  border-color: var(--main-blue-color);
}

/* Когда textarea в фокусе и набран текст (т.е. нет placeholder), label-placeholder исчезает */
.form-textarea textarea:focus + .label-placeholder,
.form-textarea textarea:not(:placeholder-shown) + .label-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кастомный чекбокс */
.form-field .form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-policy .policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Скрываем станартный чекбокс */
.form-policy .policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Оформляем кастомный чекбокс */
.form-policy .icon-check::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;

  transition: all var(--transition-duration) var(--transition-timing-formula);
}

/* Когда чекбокс в фокусе, или наведен Ховер, то кастомный чекбокс подсвечивается синей рамкой  */
.form-policy .policy-checkbox:focus + .icon-check::before,
.form-policy .policy-checkbox:hover + .icon-check::before {
  border-color: var(--main-blue-color);
}

/* Когда кастомный чекбокс зачекан, то он с синей птичкой */
.form-policy .policy-checkbox:checked + .icon-check::before {
  background-color: var(--main-blue-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  border-color: transparent;
  background-origin: border-box;
}

.policy-label a {
  color: var(--main-blue-color);
}

/* Кнопка закрытия модального окна */
.form-field .btn-send {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  background: var(--main-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--third-text-color);
}
/* !CLOSED hero */

/* !advantages list */
.adv {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages {
  display: flex;
  flex-wrap: wrap; /*вдруг добавят еще разделов*/

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: var(--bg-secondary-color);
}

.advantages .advantages-list {
  width: calc((100% - 90px) / 4);
}

.advantages .advantages-list:not(:nth-child(4n)) {
  margin-right: 30px;
}

.advantages .advantages-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages .advantages-text {
  margin: 0;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* !CLOSED advantages list */

/* !Чем мы занимаемся */
.work {
  padding-bottom: 94px;
}

.work .title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.work .work-list {
  display: flex;
  flex-wrap: wrap; /* если теоретически добавят еще картинок */

  margin: 0;
  padding: 0;

  list-style: none;
}

.work-list .list-item {
  /* Position */
  position: relative; /* *Position */

  width: calc((100% - 60px) / 3);
}

/* дать всем эдементам правый маржин, кроме каждого кратного 3-м (3й, 6й, 9й) */
.work-list .list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work-list img {
  display: block;
}

/* *for position-block */
.work-list .position-block {
  /* Position */
  position: absolute;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(47, 48, 58, 0.8);
}

/* *for position-text */
.work-list .position-text {
  margin: 0;

  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-third-color);
}

/* !CLOSED Чем мы занимаемся */

/* !Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background: var(--bg-secondary-color);
}

.team .title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team .team-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.team-list .list-item {
  width: calc((100% - 90px) / 4);
  padding-bottom: 30px;

  background: var(--bg-card-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-list .list-img {
  display: block;
  margin-bottom: 30px;
}

.team-list .list-title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* *position */
.team-list .list-text {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team .social-block {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.team .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: var(--icon-main-color);

  /* Переходы CSS  */
  transition: fill var(--transition-duration) var(--transition-timing-formula),
    background-color var(--transition-duration) var(--transition-timing-formula),
    border-radius var(--transition-duration) var(--transition-timing-formula);
}

.team .social-link:hover,
.team .social-link:focus {
  fill: var(--third-text-color);
  background-color: var(--main-blue-color);
  border-radius: 50%;
}

.team .social-link:not(:last-child) {
  margin-right: 10px;
}
/* !CLOSED Наша команда */

/* !Постоянные клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.clients .clients-block {
  display: flex;
}

.clients-block .clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc((100% - 150px) / 6);
  height: 90px;

  text-decoration: none;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  fill: var(--icon-main-color);

  /* Переходы CSS  */
  transition: border-color var(--transition-duration) var(--transition-timing-formula),
    fill var(--transition-duration) var(--transition-timing-formula);
}

.clients-block .clients-link:hover,
.clients-block .clients-link:focus {
  border-color: var(--main-blue-color);
  fill: var(--main-blue-color);
}

.clients-block .clients-link:not(:last-child) {
  margin-right: 30px;
}
/* !CLOSED Постоянные клиенты */

/* !Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--bg-main-color);
}

.logo .studio-white {
  color: var(--third-text-color);
}

.company-address {
  margin-top: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.company-address .map {
  color: var(--third-text-color);
}

.company-address .link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.company-address .link {
  margin-top: 9px;
}

/* *Делаем SVG для блока футера */
.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-address-block {
  margin-right: 70px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-social .title {
  margin-bottom: 20px;

  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.footer-social .social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer-social .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--bg-card-color);

  /* Переходы CSS  */
  transition: background var(--transition-duration) var(--transition-timing-formula);
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background: var(--main-blue-color);
}

.footer-social .social-link:not(:last-child) {
  margin-right: 10px;
}

/* *Делаем форму для футера */
.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-third-color);
}

.subscribe .subscribe-form {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribe .form-input {
  display: flex;
  align-items: center;

  margin-right: 12px;
  width: 358px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: var(--bg-main-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  /* Стили для активной фазы input */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe .form-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  /* Стили для надписи E-mail */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* Чтобы можно было нажать поверх form-label текста */
  pointer-events: none;
}

/* Когда input активен или исчез плейсхолдер - надпись E-mail скрывается  */
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопка отправки  */
.subscribe .form-btn {
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-text-color);

  background: var(--main-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.form-btn svg {
  margin-left: 10px;
}

/* !CLOSED Футер */

/* !Страница - "Портфолио" */

/* !Список-фильтр */
.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works .filter {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 34px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  list-style: none;
}

.filter .filter-list:not(:last-child) {
  margin-right: 8px;
}

.filter-link {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  background-color: var(--bg-secondary-color);
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  /* Переходы CSS */
  transition: background-color var(--transition-duration) var(--transition-timing-formula),
    color var(--transition-duration) var(--transition-timing-formula),
    border-color var(--transition-duration) var(--transition-timing-formula),
    box-shadow var(--transition-duration) var(--transition-timing-formula);
}

.filter-link:hover,
.filter-link:focus {
  background-color: var(--main-blue-color);
  color: var(--third-text-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* !Примеры работ */
.examples {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.examples .examples-list {
  /* Ширина элемента списка в % */
  width: calc((100% - 60px) / 3);

  background: var(--bg-card-color);

  /* Переходы CSS */
  transition: box-shadow var(--transition-duration) var(--transition-timing-formula);
}

.examples .examples-list:hover,
.examples .examples-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* правый маржин для всех элементов списка, кроме каждого 3-го, 6-го, 9-го и тд */
.examples .examples-list:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* маржин ботом для всех элементов списка, кроме 3-х последних элементов списка*/
.examples .examples-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/* *position-block */
.examples .position-box {
  /* Position */
  position: relative;
  overflow: hidden;
}

.examples-link .transormation-box {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(+100%);

  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  height: 294px;
  width: 100%;

  background: rgba(33, 150, 243, 0.9);

  /* Переходы CSS  */
  transition: transform var(--transition-duration) var(--transition-timing-formula);
}

/* *Трансформация блока при наведении на li */
.examples .examples-link:hover .transormation-box,
.examples .examples-link:focus .transormation-box {
  transform: translateY(0);
}

.examples-list .position-text {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
/* *CLOSED position-block */

.examples-link {
  display: block;

  text-decoration: none;
}

.examples-img {
  display: block;
}

.examples .text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: 1px solid var(--border-main-color);
  border-bottom: 1px solid var(--border-main-color);
  border-right: 1px solid var(--border-main-color);
}

.examples-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  margin: 0;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* !CLOSED Примеры работ */
