.footer-address {
  margin-right: 70px;
}

// .logo in the Header
.logo .studio-white {
  color: $third-text-color;
}

.footer .address {
  margin-top: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .map {
  color: $third-text-color;
}

.address .link {
  display: inline-block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
