/* !Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: $bg-main-color;
}

// Общий flex-контейнер для всего Footer
.footer-flex {
  display: flex;
  align-items: baseline;
}
