.header {
  // todo Сделай плейсхолдер
  border-bottom: 1px solid $border-header-color;
  background: $bg-third-color;
}

.header-flex {
  // todo Сделай плейсхолдер
  display: flex;
  align-items: center;
}
