.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-family: $main-font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.clients .clients-block {
  display: flex;
}

.clients-block .clients-link {
  @extend %flex-center;

  width: calc((100% - 150px) / 6);
  height: 90px;

  text-decoration: none;
  border: 1px solid $icon-main-color;
  border-radius: 4px;
  fill: $icon-main-color;

  /* Переходы CSS  */
  transition: border-color $transition-duration $transition-timing-formula,
    fill $transition-duration $transition-timing-formula;
}

.clients-block .clients-link:hover,
.clients-block .clients-link:focus {
  border-color: $main-blue-color;
  fill: $main-blue-color;
}

.clients-block .clients-link:not(:last-child) {
  margin-right: 30px;
}
